In [1]:
Anshika Singh

SyntaxError: invalid syntax (552835449.py, line 1)

# Basics
- operators
   - arithmetic operator
   - assignment operator
   - comparison operator
   - logical operator
   - identity operator
   - membership operator
   - bitwise operator 
- variables
- datatypes
- keywords
- io

In [2]:
2 + 2

4

In [3]:
5335525242443454656 +45354664223248097980

50690189465691552636

arithmetic operator
  '* / // ** %'
    + -

In [4]:
10/3

3.3333333333333335

In [5]:
10//3

3

assignment operator
  ' = += -= *= /= //= %= **='

In [4]:
x = 101
y = 2.3910
z = False
a = None
c = False

In [23]:
x = 5       # direct assignment
x += 10      # update assignment
x -= 2
x *= 3
name = "Anshika Singh"
name +="😊"

In [24]:
a =12
b = 13
c = a + b

conditional operator
   <   >
   <=  >=
   == !=

In [7]:
a > 12

False

In [8]:
a < 12

False

In [9]:
a > 10

True

In [10]:
a < b

True

In [11]:
a > b

False

In [15]:
b = 3

In [13]:
a < b > 10

False

In [14]:
a < b < 10

False

logical operator
 - and
 -  or
  - not

In [16]:
a = 10
b = 20
a < b and b < 30

True

In [17]:
print(a < b and b < 30)
print(a > b or b > 20)
print(not a > b)

True
False
True

In [18]:
fruits = ['apple','banana','cherry']
print('apple' in fruits)
print('orange' in fruits)
print('orange' not in fruits)
print('banana' not in fruits)

True
False
True
False

In [19]:
x = 20
y = x
print(x,y)
print(x == y)  # value equality
print(x is y)   # reference equality
name ="Anshika"
name2 = "Anshika"
print(name == name2)
print(name is name2)

20 20
True
True
True
True

In [21]:
x =[1, 2, 3]
y = x # reference copy
z = x.copy() # value copy
print(x is y)
print(x is z)
print(x == z)
print(x == y)

True
False
True
True

Datatypes (9)
- integers 'int'
- float    'float'
- boolean   'bool'
- None      'None Type'
- string     'str'
- list        'list'
- tuple   'tuple'
- set     'set'
- dictionary   'dict'

In [22]:
coords = (10,20,32)
names = {"Alex","Alan","Alice","Arti"}
info = {'name': 'Anshika','age': 20, 'city': "Kanpur"}

In [25]:
del x # delete x from the memory

In [10]:
p = 12000
r = 10.49
t = 5
si = p*r*t/100
si

6294.0

example ans = input("prompt")

In [11]:
input("Enter your name")

'anshika'

In [2]:
name = input('Enter your name')
city = input('Enter your city')
color = input('Enter your favorite color') 
fruit = input('Enter your favorite fruit')
luckynum = input('Enter your lucky number')

In [15]:
a = input('enter a number')
b = input('enter a number')
print(a+b)

5060

typecasting

from one datatype => another
str => int(variable) => int

In [6]:
float("12.20")

12.2

In [7]:
a = 10
b = "10"
c = "10.20"
d = 10.20
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [8]:
print(float(a))
print(str(a))
print(bool(a))

10.0
10
True

In [16]:
a = input('enter a number')
b = input('enter a number')
c = int(a) + int(b)
print(c)

110

In [17]:
a = int(input('enter a number'))
b = int(input('enter a number'))
c = a + b
print(c)

110

In [19]:
p = int(input('enter a number'))
r = float(input('enter a number'))
t = int(input('enter a number'))
si = p*r*t/100
print(si)

6294.0

formatted output
answer: 12 - 3 = 9

In [12]:
a = 12
b = 3
c = a - b
print("answer:", a, '-', b, '=', c)

answer: 12 - 3 = 9

In [20]:
print(a,b,c,d, sep="👍🤞")

50👍🤞60👍🤞110👍🤞10.2

In [5]:
print(*'hello',sep ='_')  # advance version(not to be discussed)
fruits = ['apple','banana','cherry']
print(*fruits, sep =', ')  # advance version(not to be discussed)

h_e_l_l_o
apple, banana, cherry

string interpolation for formatted output

In [21]:
a = 12
b = 3
c = a - b
print("answer:", a, '-', b, '=', c)
print(f"answer:{a} - {b} = {c}")

answer: 12 - 3 = 9
answer:12 - 3 = 9

In [4]:
p = int(input("enter ur principle"))
r = float(input("enter ur rate"))
t = int(input("enter ur time"))
si = p*r*t/100
print("simple interest calculator")
print("Principle =",p,'rupees')
print("Rate =",r,'%')
print("Time =",t,'yrs')
print('_'* 15)
print("Simple interest =",si)

simple interest calculator
Principle = 12000 rupees
Rate = 10.49 %
Time = 5 yrs
_______________
Simple interest = 6294.0

In [22]:
# area of triangle
b = int(input("enter the base of the triangle"))
h = int(input("enter the height of the triangle"))
area = 1/2*b*h
print("Area of Triangle")
print(f'Base = {b} cm')
print(f'Height = {h} cm')
print('_'*15)
print(f'Area = {area} cm')

Area of Triangle
Base = 20 cm
Height = 20 cm
_______________
Area = 200.0 cm

In [1]:
# round function should be used with expression
print(round(10/3))
print(round(10/3,1))
print(round(10/3,2))
print(round(10/3,3))

3
3.3
3.33
3.333

In [4]:
a = 10
b = 7
print(f'{a} divided by {b} is {a/b}')
print(f'{a} divided by {b} is {a/b:.1f}')
print(f'{a} divided by {b} is {a/b:.2f}')
print(f'{a} divided by {b} is {a/b:.3f}')

10 divided by 7 is 1.4285714285714286
10 divided by 7 is 1.4
10 divided by 7 is 1.43
10 divided by 7 is 1.429

In [2]:
# text alignment
n1 = "The final empire"
a1 = 'Brandon Sanderson'
p1 = 499
n2 = 'The art of war'
a2 = 'Sun Tzu'
p2 = 239
n3 = 'Stormlight Archives: The way of kings'
a3 = 'Brandon Sanderson'
p3 = 550

print(f'{n1:>40} | {a1:^20} | {p1}')
print(f'{n2:>40} | {a2:^20} | {p2}')
print(f'{n3:>40} | {a3:^20} | {p3}')

                        The final empire |  Brandon Sanderson   | 499
                          The art of war |       Sun Tzu        | 239
   Stormlight Archives: The way of kings |  Brandon Sanderson   | 550