In [2]:
p = 12000
r = 10.49
t = 5
si = p*r*t/100
si

6294.0

example ans = input("prompt")

In [3]:
input("Enter your name")

'anshika'

In [1]:
name = input('Enter your name')
city = input('Enter your city')
color = input('Enter your favorite color') 
fruit = input('Enter your favorite fruit')
luckynum = input('Enter your lucky number')

In [6]:
a = input('enter a number')
b = input('enter a number')
print(a+b)

5060

typecasting

from one datatype => another
str => int(variable) => int

In [7]:
float("12.20")

12.2

In [8]:
a = 10
b = "10"
c = "10.20"
d = 10.20
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [9]:
print(float(a))
print(str(a))
print(bool(a))

10.0
10
True

In [12]:
a = input('enter a number')
b = input('enter a number')
c = int(a) + int(b)
print(c)

110

In [13]:
a = int(input('enter a number'))
b = int(input('enter a number'))
c = a + b
print(c)

110

In [14]:
p = int(input('enter a number'))
r = float(input('enter a number'))
t = int(input('enter a number'))
si = p*r*t/100
print(si)

6294.0

formatted output
answer: 12 - 3 = 9

In [15]:
a = 12
b = 3
c = a - b
print("answer:", a, '-', b, '=', c)

answer: 12 - 3 = 9

In [16]:
print(a,b,c,d, sep="👍🤞")

12👍🤞3👍🤞9👍🤞10.2

In [17]:
print(*'hello',sep ='_')  # advance version(not to be discussed)
fruits = ['apple','banana','cherry']
print(*fruits, sep =', ')  # advance version(not to be discussed)

h_e_l_l_o
apple, banana, cherry

string interpolation for formatted output

In [18]:
a = 12
b = 3
c = a - b
print("answer:", a, '-', b, '=', c)
print(f"answer:{a} - {b} = {c}")

answer: 12 - 3 = 9
answer:12 - 3 = 9

In [19]:
p = int(input("enter ur principle"))
r = float(input("enter ur rate"))
t = int(input("enter ur time"))
si = p*r*t/100
print("simple interest calculator")
print("Principle =",p,'rupees')
print("Rate =",r,'%')
print("Time =",t,'yrs')
print('_'* 15)
print("Simple interest =",si)

simple interest calculator
Principle = 12000 rupees
Rate = 10.49 %
Time = 5 yrs
_______________
Simple interest = 6294.0

In [20]:
# area of triangle
b = int(input("enter the base of the triangle"))
h = int(input("enter the height of the triangle"))
area = 1/2*b*h
print("Area of Triangle")
print(f'Base = {b} cm')
print(f'Height = {h} cm')
print('_'*15)
print(f'Area = {area} cm')

Area of Triangle
Base = 20 cm
Height = 20 cm
_______________
Area = 200.0 cm

In [21]:
# round function should be used with expression
print(round(10/3))
print(round(10/3,1))
print(round(10/3,2))
print(round(10/3,3))

3
3.3
3.33
3.333

In [22]:
a = 10
b = 7
print(f'{a} divided by {b} is {a/b}')
print(f'{a} divided by {b} is {a/b:.1f}')
print(f'{a} divided by {b} is {a/b:.2f}')
print(f'{a} divided by {b} is {a/b:.3f}')

10 divided by 7 is 1.4285714285714286
10 divided by 7 is 1.4
10 divided by 7 is 1.43
10 divided by 7 is 1.429

In [23]:
# text alignment
n1 = "The final empire"
a1 = 'Brandon Sanderson'
p1 = 499
n2 = 'The art of war'
a2 = 'Sun Tzu'
p2 = 239
n3 = 'Stormlight Archives: The way of kings'
a3 = 'Brandon Sanderson'
p3 = 550

print(f'{n1:>40} | {a1:^20} | {p1}')
print(f'{n2:>40} | {a2:^20} | {p2}')
print(f'{n3:>40} | {a3:^20} | {p3}')

                        The final empire |  Brandon Sanderson   | 499
                          The art of war |       Sun Tzu        | 239
   Stormlight Archives: The way of kings |  Brandon Sanderson   | 550