 list
- create
- indexing and slicing
- methods
    - append()
    - insert()
    - extend()
    - remove()
    - clear()
    - pop()
    - count()
    - reverse()
    - sort()
    - index()
    - copy()
- comprehension

In [65]:
a = [1,2,3]
print(a, type(a))
names = ['Alice', 'Bob', 'Charlie']
print(names, type(names))
data = ['apple', 50, 'mango', 100, 'orange', 70]
nested_list = [[1,2,3],[4,5,6],[7,8]]
print(data)
print(nested_list)
duplicated_list = [1] * 10
print(duplicated_list)
print(list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['Alice', 'Bob', 'Charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [66]:
n = [11,12,13,14,15,16,17,18,19,20]
print('first five = ',n[:15])
print('last five = ',n[-5:])
print('last element = ',n[-1])
print('first element = ',n[0])
print('except first 2 and last 2 = ',n[2: -2])
print('reverse list = ',n[::-1])
print('all even indexes = ',n[::2])
print('all odd indexes = ',n[1::2])
print('reverse first five = ',n[4::-1])

first five =  [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
last five =  [16, 17, 18, 19, 20]
last element =  20
first element =  11
except first 2 and last 2 =  [13, 14, 15, 16, 17, 18]
reverse list =  [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all even indexes =  [11, 13, 15, 17, 19]
all odd indexes =  [12, 14, 16, 18, 20]
reverse first five =  [15, 14, 13, 12, 11]

In [67]:
# list is mutable
n[5] = 100  # update
print(n)
n[0] = 200
print(n)

[11, 12, 13, 14, 15, 100, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]

In [68]:
fruits = ['apple','mango','orange']
print(fruits)
fruits[0] = 'custard apple'
print(fruits)
fruits[1] = 'jackfruit'
print(fruits)

['apple', 'mango', 'orange']
['custard apple', 'mango', 'orange']
['custard apple', 'jackfruit', 'orange']

In [69]:
movies = []
print(type(movies))
print(len(movies))
movies.append("Star wars")
movies.append("Harry Potter")
movies.append("The core")
movies.append("Bullet Train")
movies.append("Jumanji")
print(movies)
print(len(movies))

<class 'list'>
0
['Star wars', 'Harry Potter', 'The core', 'Bullet Train', 'Jumanji']
5

In [70]:
ff = ['fast and furious',
     '2 fast 2 furious',
     'fast and furious: Tokyo drift',
     'fast 5']

ff.append("Fast and furious 6")
print(ff)
ff.insert(3, 'fast and furious 4')
print(ff)

['fast and furious', '2 fast 2 furious', 'fast and furious: Tokyo drift', 'fast 5', 'Fast and furious 6']
['fast and furious', '2 fast 2 furious', 'fast and furious: Tokyo drift', 'fast and furious 4', 'fast 5', 'Fast and furious 6']

In [71]:
n = [1,2,3,4,5,6,7,8,9]
n.insert(3,4)  # on 3rd index, insert value = 4
print(n)
n.insert(4,5)   # on 5th index, insert value = 5
print(n)
n.insert(100,5)   # invalid index, so it will insert at the end
print(n)

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 9, 5]

In [72]:
# adding a list in a another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5,5])
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5, 5]

10-jul-24

In [73]:
n.remove(3)  # search where is 3 and remove it
print(n)
n.remove(5)  # remove first 5
print(n)

[1, 2, 4, 5, 4, 5, 6, 7, 8, 9, 5]
[1, 2, 4, 4, 5, 6, 7, 8, 9, 5]

In [74]:
movies.remove('The core')
print(movies)

['Star wars', 'Harry Potter', 'Bullet Train', 'Jumanji']

In [75]:
n.pop(3)

4

In [76]:
print(n)

[1, 2, 4, 5, 6, 7, 8, 9, 5]

In [77]:
n.pop()  # remove last element

5

In [78]:
movies.pop()
print(movies)

['Star wars', 'Harry Potter', 'Bullet Train']

In [79]:
n.clear()
print(n)
movies.clear()
print(movies)

[]
[]

In [80]:
x = [1,2,3,1,1,1,2,2,2,3,1,2,1,3,2]
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.count(4))

6
6
3
0

In [81]:
y = [1,2,3,4,5]
y.reverse()   # or y[::-1]
print(y)

[5, 4, 3, 2, 1]

In [82]:
names = ['Vijay','Salman','Rahul','Akbar']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Akbar', 'Rahul', 'Salman', 'Vijay']
['Vijay', 'Salman', 'Rahul', 'Akbar']

In [83]:
heroes = ['Goku','Naruto','Luffy','Ichigo','Natsu','Meliodas']
print(heroes)
luffy_idx = heroes.index('Luffy')
print(luffy_idx)

['Goku', 'Naruto', 'Luffy', 'Ichigo', 'Natsu', 'Meliodas']
2

In [84]:
x = [1,2,3]
y = x           # y is a reference to x
z = x.copy()     # z is a shallow copy of x
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]
True
False

comprehension

In [85]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    s = i**2
    x2.append(s)
print(x2)

[1, 4, 9, 16, 25]

In [86]:
x = [1,2,4,2,31,3,6]
x2 = [i ** 2 for i in x]
print(x)
print(x2)

[1, 2, 4, 2, 31, 3, 6]
[1, 4, 16, 4, 961, 9, 36]

In [87]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [i -10 for i in a]
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [88]:
a = [65,68,59,70,80]
b = [chr(i) for i in a]
print(a)
print(b)

[65, 68, 59, 70, 80]
['A', 'D', ';', 'F', 'P']

In [89]:
crap_list = ['A',1,2,3,'B','C','D',4,5,5,1,1,2,5,6]
clean_list = [i for i in crap_list if isinstance(i, int)]
print(crap_list)
print(clean_list)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 5, 1, 1, 2, 5, 6]
[1, 2, 3, 4, 5, 5, 1, 1, 2, 5, 6]

In [90]:
# make all the input to a int list
nums = [int(n) for n in input().split()]
print(nums)

[1, 12, 45, 56, 78, 89, 34, 356, 12]

Tuple

In [91]:
a = (1,2,3,4,5)
print(a, type(a))
b = 1,2,3,4
print(b, type(b))
# single element tuple
c = (1,)
print(c)
d = (1,) * 5 # tuple duplication
print(d)
e = tuple([1,2,3,4,5])
print(e, type(e))

(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(1,)
(1, 1, 1, 1, 1)
(1, 2, 3, 4, 5) <class 'tuple'>

In [92]:
print(a[0])
print(a[1])
print(a[-1])
print(a[:3])
print(a[3:])

1
2
5
(1, 2, 3)
(4, 5)

In [93]:
x = (1,1,1,1,3,4,5,6,6)
print(x.count(1))
print(x.count(10))
print(x.index(4))  # find index of 4

4
0
5

tuple unpacking