set
 - create
 - method

In [2]:
x = set()   # empty
print(x)
y = {1,2,3,4,5,6,1,2}
print(y)
fruits = {"apple","banana","cherry"}
print(fruits)
data = {'apple',205,3.14,'banana'}
print(data)
a = set([1,2,3,4,5,6,7,8,9,10])
b = set("Harry Potter")
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6}
{'apple', 'banana', 'cherry'}
{'apple', 3.14, 'banana', 205}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'o', 'y', 't', 'H', 'a', 'r', ' ', 'e', 'P'}

In [3]:
a = set()
a.add("The final empire")
a.add("The hero of ages")
a.add("The well of ascension")
print(a)

{'The hero of ages', 'The well of ascension', 'The final empire'}

In [4]:
a.update(['AppleSeed','Applepie','Applecider'])
print(a)

{'Applepie', 'The well of ascension', 'Applecider', 'The hero of ages', 'AppleSeed', 'The final empire'}

In [5]:
a.add("AppleSeed")   #  not added
print(a)     # no duplicate

{'Applepie', 'The well of ascension', 'Applecider', 'The hero of ages', 'AppleSeed', 'The final empire'}

In [6]:
a.discard("AppleSeed")
a.discard("Applepie")      # no error
a.discard("AppleSeed")
print(a)

{'The well of ascension', 'Applecider', 'The hero of ages', 'The final empire'}

In [7]:
a = {1,2,3}
b = {3,4,5}
c = {6,7,8}

ab = a.union(b)
print(ab)
print(a.union(b,c))
print(a | b | c)   # | is union

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
print(a.intersection(b))
print(a & b)  # & is intersection
print(a & c)
print(a & b & c)

{3}
{3}
set()
set()

In [9]:
print(a.difference(b))
print(b.difference(a))
print(a - c)    # - is difference

{1, 2}
{4, 5}
{1, 2, 3}

In [10]:

print(a.symmetric_difference(b))
print(a ^ b)    # ^ is symmetric difference

{1, 2, 4, 5}
{1, 2, 4, 5}

Dictionary

In [1]:
data = ["Alex", True, False, 29, "New York", "Photographer"]

datadict = {
    'name': 'Alex',
    'isMarried': True,
    'hasChildren': False,
    'age': 29,
    'city': 'New York',
    'profession': 'Photographer'
}
movies = {}  # empty dictionary
expenditure = dict(
    food = 500,
    rent = 1700,
    insurance = 200,
)
print(datadict)
print(expenditure)

{'name': 'Alex', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}
{'food': 500, 'rent': 1700, 'insurance': 200}

- creating
- accessing
- add or update
- remove
- traversal

In [2]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
# print(datadict['state'])  # key error

Alex
True
New York

In [3]:
print(datadict.get('city'))
print(datadict.get('city'))  # City is not in the dictionary
print(datadict.get('age', 100))    # default value not used
print(datadict.get('AGE', 100))    #  AGE is not in the dictionary

New York
New York
29
100

In [4]:
movies['Deadpool & Wolverine'] = "Shawn Levy"
movies['BahuBali'] = "SS Rajamouli"
movies['Inception'] = "Christopher Nolan"
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'BahuBali': 'SS Rajamouli', 'Inception': 'Christopher Nolan'}

In [5]:
movies.update(
    {
     'The Dark Knight': 'Christopher Nolan',
     'The Prestige': 'Christopher Nolan',   
     'The Matrix': 'Wachowski Brothers',
    }
)
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'BahuBali': 'SS Rajamouli', 'Inception': 'Christopher Nolan', 'The Dark Knight': 'Christopher Nolan', 'The Prestige': 'Christopher Nolan', 'The Matrix': 'Wachowski Brothers'}

In [6]:
datadict['name'] = 'Alexander'
print(datadict)

{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}

In [7]:
movies.pop("BahuBali")

'SS Rajamouli'

In [8]:
movies

{'Deadpool & Wolverine': 'Shawn Levy',
 'Inception': 'Christopher Nolan',
 'The Dark Knight': 'Christopher Nolan',
 'The Prestige': 'Christopher Nolan',
 'The Matrix': 'Wachowski Brothers'}

for loop in dict will iterate over keys

In [9]:
for item in datadict:
    print(item)

name
isMarried
hasChildren
age
city
profession

In [10]:
for item in datadict:
    print(datadict[item])

Alexander
True
False
29
New York
Photographer

In [11]:
for k,v in datadict.items():
    print(k, v)

name Alexander
isMarried True
hasChildren False
age 29
city New York
profession Photographer

In [12]:
movies.keys()

dict_keys(['Deadpool & Wolverine', 'Inception', 'The Dark Knight', 'The Prestige', 'The Matrix'])

In [13]:
movies.values()

dict_values(['Shawn Levy', 'Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan', 'Wachowski Brothers'])

nested dictionary

In [20]:
report = {
    '01' : {
        'name' : "Alex",
        'subjects' : {
            'maths' : 90,
            'science' : 85,
            'english' : 95,
        }
    },
    '02' : {
        'name' : "John",
        'subjects' : {
            'maths' : 80,
            'science' : 75,
            'english' : 85
        }
    },
}

In [15]:
report['02']['subjects']['english']

85

In [16]:
from pprint import pp

In [17]:
pp(report)

{'01': {'name': 'Alex',
        'subjects': {'maths': 90, 'science': 85, 'english': 95}},
 '02': {'name': 'John',
        'subjects': {'maths': 80, 'science': 75, 'english': 85}}}

In [19]:
rainfall_data = {
    'year' : [2019, 2020, 2021, 2022, 2023],
    'rainfall' : [100, 200, 150, 300, 250]
}
print(rainfall_data)

{'year': [2019, 2020, 2021, 2022, 2023], 'rainfall': [100, 200, 150, 300, 250]}